.grid {
  text-align: center;
  margin: 100px 0 0;
}

.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  cursor: pointer;
}

.node-start {
  background-color: green;
}

.node-finish {
  background-color: red;
}

.row {
  justify-content: center;
}

.menu-bar {
  justify-content: center !important;
  display: flex !important;
}