.grid {
  text-align: center;
  margin: 100px 0 0;
}

.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  cursor: pointer;
}

.node-start {
  background-color: green;
}

.node-finish {
  background-color: red;
}

.node-wall {
  background-image: url('assets/stone.png');
  outline: 1px solid #4d4d4d;
}

.row {
  justify-content: center;
}

.menu-bar {
  justify-content: center !important;
  display: flex !important;
}

.btn-active {
  outline: none !important;
  color: white !important;
  background-color: green !important;
  box-shadow: none !important;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 50%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
    border-radius: 50%;
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgba(255, 255, 40);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(255, 255, 75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 110);
    border-radius: 50%;
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 145);
  }
}